<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="application.properties"/>
    <context:component-scan base-package="com.example.spring"/>

    <!--<bean id="rockMusic" class="com.example.spring.RockMusic">

    </bean>

    <bean id="classicMusic" class="com.example.spring.ClassicMusic">

    </bean>

    <bean id="MusicPlayer" class="com.example.spring.MusicPlayer">
        <constructor-arg ref="classicMusic"></constructor-arg>
        <property name="name" value="${musicPlayer.name}"></property>
        <property name="volume" value="${musicPlayer.value}"></property>
        <property name="musicList">
            <list>
                <ref bean="rockMusic"></ref>
                <ref bean="classicMusic"></ref>
            </list>
        </property>
    </bean>-->

<!--<bean
        init-method="InitMethod"
        destroy-method="DestroyMethod"
        scope="singleton"
        factory-method="factoryMethod"
        id="testBean1"
        class="com.example.spring.TestBean">
    <property name="name" value="Vladimir"></property>
    <property name="age" value="41"></property>
&lt;!&ndash;    <constructor-arg value="Sawa"></constructor-arg>&ndash;&gt;

</bean>
    <bean
        init-method="InitMethod"
        destroy-method="DestroyMethod"
        scope="singleton"
        factory-method="factoryMethod"
        id="testBean2"
        class="com.example.spring.TestBean">
    <property name="name" value="Sawa"></property>
    <property name="age" value="10"></property>
&lt;!&ndash;    <constructor-arg value="Sawa"></constructor-arg>&ndash;&gt;

</bean>-->

</beans>